In [12]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

### Read in Data

In [2]:
Loans_2015 = pd.read_csv("Loans/Loans_20150101to20160101_20160918T060025.csv")

In [20]:
Listings_2015 = pd.read_csv("Listings/Listings_20150101to20160101_20160906T060543.csv")

C:\Users\MarekSedlacek\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (535) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print Loans_2015.shape[0]
Loans_2015.head()

265031

,loan_number,amount_borrowed,borrower_rate,prosper_rating,term,age_in_months,origination_date,days_past_due,principal_balance,service_fees_paid,...,interest_paid,prosper_fees_paid,late_fees_paid,debt_sale_proceeds_received,loan_status,loan_status_description,loan_default_reason,loan_default_reason_description,next_payment_due_date,next_payment_due_amount
0,254354,12000,0.1526,C,60,20,2015-01-02 00:00:00,0,0.00,-165.35,...,2523.14,0,0,0,4,COMPLETED,NaN,NaN,2016-09-02 00:00:00,0.00
1,254357,25000,0.1736,C,60,20,2015-01-02 00:00:00,0,18917.67,-371.00,...,6440.87,0,0,0,1,CURRENT,NaN,NaN,2016-10-02 00:00:00,626.16
2,254360,6000,0.0819,A,36,20,2015-01-02 00:00:00,0,2848.64,-75.64,...,619.44,0,0,0,1,CURRENT,NaN,NaN,2016-10-02 00:00:00,188.54
3,254363,15000,0.1736,C,36,20,2015-01-02 00:00:00,0,7608.56,-194.31,...,3373.20,0,0,0,1,CURRENT,NaN,NaN,2016-10-02 00:00:00,537.48
4,254366,20000,0.0651,AA,36,20,2015-01-02 00:00:00,0,9370.97,-250.75,...,1632.37,0,0,0,1,CURRENT,NaN,NaN,2016-10-02 00:00:00,613.07

In [21]:
print Listings_2015.shape[0]
Listings_2015.head()

373277

,member_key,listing_number,credit_pull_date,listing_start_date,listing_end_date,listing_creation_date,loan_origination_date,listing_status,listing_status_reason,verification_stage,...,oldest_trade_open_date,delinquencies_over30_days,delinquencies_over60_days,delinquencies_over90_days,is_homeowner,investment_typeid,investment_type_description,whole_loan_start_date,whole_loan_end_date,last_updated_date
0,E155373154549917550E92C,2210527,2014-12-14 09:03:30,2015-01-07 16:01:56.823000000,2015-01-07 16:02:07.490000000,2015-01-07 10:04:50.133000000,NaN,7,Cancelled,NaN,...,10131995,4,0,0,True,2,Whole,2015-01-07 15:50:28.107000000,NaN,2016-08-26 09:29:51
1,950737314342739832EFD29,2228492,2014-12-15 19:27:51,2015-01-05 17:00:58.580000000,2015-01-08 09:55:28.947000000,2015-01-05 08:51:04.123000000,2015-01-09 00:00:00,6,Completed,NaN,...,1171989,20,5,9,False,1,Fractional,2015-01-05 15:48:04.813000000,2015-01-05 16:45:05.543000000,2016-08-08 23:34:46.450000000
2,BA4837331484475463AEBBB,2195584,2014-12-16 11:20:08,2015-01-05 08:07:04.753000000,2015-01-05 08:22:59.717000000,2015-01-05 06:37:46.350000000,NaN,7,Cancelled,NaN,...,1102012,0,0,0,False,3,Whole,2015-01-05 07:54:55.493000000,NaN,2015-11-05 22:29:01.260000000
3,4A7737329665606743FA6AA,2292183,2014-12-15 12:40:24,2015-01-06 16:12:25.530000000,2015-01-06 16:18:56.213000000,2015-01-06 11:13:38.180000000,2015-01-08 00:00:00,6,Completed,NaN,...,2162005,6,3,1,False,3,Whole,2015-01-06 15:53:46.633000000,NaN,2016-08-10 09:37:29.580000000
4,B5AC37328768881365D4034,2200630,2014-12-16 16:36:09,2015-01-06 08:08:09.637000000,2015-01-06 08:25:17.497000000,2015-01-05 17:23:38.023000000,NaN,7,Cancelled,NaN,...,6292004,1,0,0,False,3,Whole,2015-01-06 07:55:57.677000000,NaN,2015-11-05 22:29:01.260000000

In [22]:
# a = list(Listings_2015.columns.values)
# a[0:25]

### Create Join Key

In [34]:
Loan_Join = Loans_2015[["loan_number", "amount_borrowed", "borrower_rate", "prosper_rating"
                       ,"term" ,"origination_date"]]
Loan_Join["origination_date"] = Loan_Join["origination_date"].str[0:10]
Loan_Join["amount_borrowed"] = Loan_Join["amount_borrowed"].astype(int).astype(str)
Loan_Join["term"] = Loan_Join["term"].astype(int).astype(str)
Loan_Join["borrower_rate"] = Loan_Join["borrower_rate"].astype(str)

Loan_Join["join_key"] = Loan_Join["amount_borrowed"] + Loan_Join["prosper_rating"] + \
                        Loan_Join["borrower_rate"] + Loan_Join["term"] + \
                        Loan_Join["origination_date"]
Loan_Join.head()

,loan_number,amount_borrowed,borrower_rate,prosper_rating,term,origination_date,join_key
0,254354,12000,0.1526,C,60,2015-01-02,12000C0.1526602015-01-02
1,254357,25000,0.1736,C,60,2015-01-02,25000C0.1736602015-01-02
2,254360,6000,0.0819,A,36,2015-01-02,6000A0.0819362015-01-02
3,254363,15000,0.1736,C,36,2015-01-02,15000C0.1736362015-01-02
4,254366,20000,0.0651,AA,36,2015-01-02,20000AA0.0651362015-01-02

In [27]:
Listings_Join = Listings_2015[["member_key", "amount_funded", "borrower_rate", "prosper_rating"
                       ,"listing_term" ,"loan_origination_date"]]
Listings_Join = Listings_Join[Listings_Join.loan_origination_date.notnull()]
Listings_Join["loan_origination_date"] = Listings_Join["loan_origination_date"].str[0:10]
Listings_Join["amount_funded"] = Listings_Join["amount_funded"].astype(int).astype(str)
Listings_Join["listing_term"] = Listings_Join["listing_term"].astype(int).astype(str)
Listings_Join["borrower_rate"] = Listings_Join["borrower_rate"].astype(str)

Listings_Join["join_key"] = Listings_Join["amount_funded"] + Listings_Join["prosper_rating"] + \
                        Listings_Join["borrower_rate"] + Listings_Join["listing_term"] + \
                        Listings_Join["loan_origination_date"]

Listings_Join = Listings_Join[["join_key","member_key"]]
print Listings_Join.shape[0]
Listings_Join.head()

267595

                    join_key               member_key
1   15000A0.0819362015-01-09  950737314342739832EFD29
3    5000B0.1234362015-01-08  4A7737329665606743FA6AA
13  12000A0.1028362015-02-03  CEDD3732932619375C991F6
16  25000C0.1703602015-01-05  690F3368814195298EF41D0
17  25000B0.1278602015-01-08  18F73733231641956997CBD

### Join Origination and Performance Data

In [35]:
Loan_Join = Loan_Join.merge(Listings_Join, on='join_key', how='left')
Loan_Join.shape[0]

669921

In [37]:
Loan_Join = Loan_Join[Loan_Join.member_key.notnull()]
Loan_Join.shape[0]

667964

In [40]:
Loan_Join.head()

,loan_number,amount_borrowed,borrower_rate,prosper_rating,term,origination_date,join_key,member_key
439,255116,25000,0.1195,B,36,2015-01-05,25000B0.1195362015-01-05,058E3734663885304AD0657
440,254852,15000,0.1311,B,60,2015-01-05,15000B0.1311602015-01-05,4C04372751465747442030A
457,255299,25000,0.1493,C,60,2015-01-05,25000C0.1493602015-01-05,E677355324935425549E673
460,254867,12000,0.1195,B,36,2015-01-05,12000B0.1195362015-01-05,AB35373417312720073AE73
461,255281,12000,0.1195,B,36,2015-01-05,12000B0.1195362015-01-05,AB35373417312720073AE73

In [50]:
temp = Loan_Join[["loan_number","member_key"]].groupby(["loan_number"]).count().reset_index()
print temp.shape[0]
temp.head()

263074

   loan_number  member_key
0       254852           1
1       254867           1
2       254882           1
3       254927           1
4       254930           2

In [53]:
temp2 = temp[temp["member_key"]==1]
print temp2.shape[0]
print 1.0*temp2.shape[0]/temp.shape[0]
temp2.head()

108164
0.411154275983

   loan_number  member_key
0       254852           1
1       254867           1
2       254882           1
3       254927           1
5       254933           1